/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* Mix */
.template {
  display: none;
}

/* BODY */
body {
  background-color: lightgrey;
}

/* Header */
header {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #95C623;
  color: #0E4749;
}

h1 {
  font-weight: 900;
}

h1 span {
  color: green;
}

/* Main */
.main__container {
  width: 1024px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #9792E3;
  padding: 40px;
  color: #331E36;
}

details {
  margin-bottom: 40px;
}

summary {
  background-color: #9792E3;
  border-bottom: 1px solid lightgrey;
}

h2 {
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
}

.input__container {
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 33px;
}

input, li, .add-btn  {
  font-size: 18px;
}

input {
  background-color: #EDE2B5;
  border: none;
  border-radius: 4px;
}

.plus {
  position: relative;
  vertical-align: sub;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  background-color: #331E36;
  color: #9792E3;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: inline-block;
  bottom: -3px;
}

.plus span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instruction {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.add-btn {
  display: none;
  vertical-align: bottom;
  padding: 0 10px;
  background-color: #EDE2B5;
  color: #331E36;
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 1024px) {
  .main__container {
    width: 100%;
  }

  .add-btn {
    display: inline-block;
  }

  .instruction {
    display: none;
  }
}

@media screen and (max-width: 391px) {
  .add-btn {
    margin-top: 5px;
    display: block;
  }

  .plus {
    display: none;
  }
}

/* Liste */
ul {
  list-style: none;
}

li {
  margin: 10px 0;
  width: max-content;
  opacity: 1;
  transition: opacity 1s;
  max-width: 100%;
  word-wrap: break-word;
}

li.clicked {
  opacity: 0;
}

/* list items span*/
li span {
  color: red;
}

li.clicked span {
  display: none;
}

span.check {
  display: none;
  color: green;
}

li.clicked span.check {
  display: inline;
}
