/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Mix */
.template {
  display: none;
}

/* BODY */
body {
  background-color: lightgrey;
}

/* Header */
header {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #95C623;
  color: #0E4749;
}

h1 span {
  color: green;
}

/* Main */
.main__container {
  width: 1024px;
  margin: auto;
  margin-top: 60px;
  background-color: #9792E3;
  padding: 40px;
  color: #331E36;
}

details {
  margin-bottom: 40px;
}

summary {
  background-color: #9792E3;
  border-bottom: 1px solid lightgrey;
}

h2 {
  display: inline-block;
}

/* Liste */
ul {
  list-style: none;
}

li {
  font-size: 18px;
  margin: 10px 0;
  width: max-content;
  opacity: 1;
  transition: opacity 1s;
}

li.clicked {
  opacity: 0;
}

/* list items span*/
li span {
  color: red;
}

li.clicked span {
  display: none;
}

span.check {
  display: none;
  color: green;
}

li.clicked span.check {
  display: inline;
}
